<h1>Welcome to Flatiron Store</h1>

<%= render :partial => 'categories/index_categories', :locals => {:categories => @categories} %>
<%= render :partial => 'items/index_items', :locals => {:items => @items} %>